node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# IDE
.idea
.vscode
bun.lockb
package-lock.json

# R&D File
env.js
env-dev.js
env-test.js
